description = "Tiny base image (Ubuntu Jammy Jellyfish build image, distroless-like run image) with only Java buildpacks included. To use, specify buildpacks at build time."

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:13.2.0"
  version = "13.2.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:20.2.1"
  version = "20.2.1"

[lifecycle]
  version = "0.20.18"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "13.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "20.2.1"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-tiny:0.2.83"
  id = "io.buildpacks.stacks.jammy.tiny"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-tiny:latest"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
