description = "Tiny base image (Ubuntu Jammy Jellyfish build image, distroless-like run image) with only Java buildpacks included. To use, specify buildpacks at build time."

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:11.11.0"
  version = "11.11.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:18.7.0"
  version = "18.7.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/health-checker:2.10.0"
  version = "2.10.0"

[lifecycle]
  version = "0.20.9"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "11.11.0"

  [[order.group]]
    id = "paketo-buildpacks/health-checker"
    version = "2.10.0"
    optional = true

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "18.7.0"

  [[order.group]]
    id = "paketo-buildpacks/health-checker"
    version = "2.10.0"
    optional = true

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-tiny:0.2.61"
  id = "io.buildpacks.stacks.jammy.tiny"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-tiny:latest"
  run-image-mirrors = []

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
