description = "Tiny base image (Ubuntu Jammy Jellyfish build image, distroless-like run image) with only Java buildpacks included. To use, specify buildpacks at build time."

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:11.17.0"
  version = "11.17.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:18.14.0"
  version = "18.14.0"

[lifecycle]
  version = "0.20.14"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "11.17.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "18.14.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-tiny:0.2.75"
  id = "io.buildpacks.stacks.jammy.tiny"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-tiny:latest"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
